.task-modal-line {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 15px 0px;
}

.task-modal-title {
    text-align: center;
}

.close-btn {
    position: fixed !important;
    top: 25px !important;
    right: 25px !important;
    font-size: 25px !important;
}