:root {
  --gray: #B7C4CF;
  --orange: #f4a261;
  --carrot: #e76f51;
  --yellow-pastel: #e9c46a;
  --ocean: #2a9d8f;
  --black-sea: #264653;
  --max-width: 700px
}

.App {
  text-align: center;
}

.show-alert {
  position: absolute;
  bottom: 0;
  right: 0;
  min-width: 300px;
}