:root {
  --gray: #B7C4CF;
  --orange: #f4a261;
  --carrot: #e76f51;
  --yellow-pastel: #e9c46a;
  --ocean: #2a9d8f;
  --black-sea: #264653;
  --max-width: 700px
}

.App {
  text-align: center;
}

.control-btns {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  margin-bottom: 15px;
}

.control-btns button {
  margin-left: 30px;
}