.main-header {
    margin: 15px auto;
    max-width: var(--max-width);
    border: 1px solid var(--black-sea);
    padding: 15px;
    background: var(--orange);
    color: var(--carrot);
    text-shadow: 1px 1px 1px var(--black-sea);
    -webkit-text-stroke: 1px var(--ocean);
    font-style: italic;
    font-variant: small-caps;
    box-shadow: inset 1px 1px 10px 7px var(--yellow-pastel), 1px 1px 5px 1px var(--black-sea);
}